input {
    position: relative;
    padding: 0.8rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--secondary);
    font-size: 1.1rem;
    color: var(--white);
    outline-offset: 1px;
}

.floating-input {
    position: relative;
}

.floating-input input::placeholder {
    opacity: 0;
}

.floating-input label {
    position: absolute;
    border-radius: 0.3rem;
    top: 0;
    left: 0;
    transform: translateX(3px) translateY(14px);
    padding: 0 0.5rem;
    z-index: 1;
    background-color: var(--secondary);
    color: darkgray;
    transition: all 200ms ease-in-out;
}

.floating-input:focus-within label,
input:not(:placeholder-shown) + label {
    transform: translateY(-15px) translateX(3px);
    color: var(--white);
}

.floating-input input:focus {
    color: var(--white);
}

.floating-input input {
    color: var(--primary);
    transition: all 200ms ease-in-out;
}

.floating-input input:not(:placeholder-shown) {
    color: var(--white);
}