.d-flex {
    display: flex;
}

.d-flex 
.justify-content-center {
    justify-content: center;
}

.d-flex
.justify-content-around {
    justify-content: space-around;
}

.d-flex
.justify-content-between {
    justify-content: space-between;
}

.d-flex
.justify-content-evenly {
    justify-content: space-evenly;
}

.d-flex
.align-items-center {
    align-items: center;
}

.d-flex
.align-items-end {
    align-items: end;
}

.d-flex
.align-items-start {
    align-items: start;
}

.d-flex
.align-items-baseline {
    align-items: baseline;
}

.d-flex.flex-col {
    flex-direction: column;
}

.d-flex.flex-row {
    flex-direction: row;
}

@import "gap.scss";