@import "root.scss";
@import "buttons/default.scss";
@import "inputs/default.scss";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:global(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    animation: showing 200ms
}

.animation-showing {
    animation: showing var(--delay);
}

::-webkit-scrollbar {
    width: 0;
}

@keyframes showing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:global(a) {
    color: var(--white);
    text-decoration: none;
}

:global(body) {
    background-color: var(--primary);
    color: var(--white);
    height: 100vh;
}

:global(.container) {
    padding: 0 3.5rem;
}

@import "flexbox/default.scss";
@import "paddings/default.scss";
@import "margins/default.scss";
@import "texts/colors.scss";
