@import "root.scss";

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:global(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    animation: showing 200ms
}

.animation-showing {
    animation: showing var(--delay);
}

::-webkit-scrollbar {
    width: 0 !important;
}

@keyframes showing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:global(a) {
    color: var(--white);
    text-decoration: none;
}

:global(html) {
    background: transparent;
}

:global(body) {
    background: #080808a2;
    color: var(--white);
    height: 100vh;
    overflow-y: hidden;
}

:global(.container) {
    padding: 0 3.5rem;
}