:root {
    --primary: #1d1d1d;
    --secondary: #292929;
    --thirdary: #3a3a3a;
    --white: #F0ECE5;

    --primary-opacity-1: #3131317c;
    --primary-opacity-2: #31313136;

    --white-opacity-1: #67676770;
}